@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body
{
    font-family : 'Raleway' ;
    margin: 0;
    
}

/* Header */

header
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
/* logo */
.logo
{
    width: 100%;
}
.logo img 
{
    width: auto;
}

/* barre de navigation */
nav
{
    display: flex;
}
.navbar
{
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    padding: 0;
}
nav li
{
    width: 25%;
    text-align: center;
}
nav ul
{
    justify-content: right;
    color:#0065FC;
    list-style: none;
    margin: 0px;
}
nav ul a 
{
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    color: blue;
}
a#hebergements
{
    border-top: blue 2px solid;
}
a#activites
{
    color: gray;
}

/* titre principal */

h1
{
    font-size: 26px;
}

/* formulaire de recherche */

form
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
form i
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    height: 40px;
}
input
{
    height: 40px;
    border: 2px #F2F2F2 solid;
}
input::placeholder
{
    font-weight: bolder;
    color: black;
}
/* bouton rechercher */
button
{
    background-color: #0065FC;
    color: #F2F2F2;
    overflow: auto;
    height: 40px;
    border-radius: 0 30px 30px 0;
    border: none;
}
button i
{
    background-color: #0065FC;
    border-radius: 0;
    height: 40px;
}

/* fin du formulaire de recherche */
/* les filtres */
.filtres
{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: 50%;
}
.filtres h2
{
    font-size: 16px;
}
.filtres h3
{
    display: flex;
    align-items: center;
}
.un-filtre
{
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: 3px #F2F2F2 solid;
    text-align: center;
}
.un-filtre i
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEEBFF;
    border-radius: 30px;
    height: 50px;
    width: 50px;
}
.un-filtre:hover
{
    background-color: blue;
    color: white;
}
.ensemble-filtres
{
    display: flex;
    flex-direction: row;
}
.description
{
    margin-left: 15px;
}
/* fin des filtres */
/* fin du header */
/* haut : regroupant populaires et hebergements */
.haut
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0;
}
/* populaires */
.populaires
{
    background-color:#F2F2F2;
    margin: 5px;
    padding: 10px;
}
.populaires img
{
    width: 40%;
}
.populaires h2 i
{
    float: right;
    margin-right: 40px;
}
/* légende droite dans populaires car dans cette section la legende est disposé à droite */
.legende-droite
{
    display: flex; 
    flex-direction : row;
    height: 100%; 
}

/* fin du populaires */
/* hebergements */

.hebergements
{
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;
    border-radius: 20px;
}
.ensemble-hebergements
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 85%;
}
.hebergements h3
{
    margin: 0;
    margin-top: 10px;
}

/* fin des hebergements */
/* activites */

.activites
{
    display: flex;
    flex-flow: column;
    height: 100%;
}

.activites img
{
    width: 100%;
}
/* fin activites */

section
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

article
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px grey;
    overflow: hidden;
    text-align: start;
    border: 4px white solid;
}
article:active
{
    color: green;
}

img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.etoiles
{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 0;
}

/* footer */ 
footer
{
    background-color:#F2F2F2;
    /*height: 11vh;*/
}
footer a
{
    text-decoration: none;
    color: black;
}
.propos, .hebergements-footer, .assistance
{
    display: flex;
    flex-direction: column;
}
/* fin du footer */
/* formatage des icones */
.fas
{
    color: blue;
}
.fa-map-marker-alt, .fa-chart-line
{
    color: black;
}
.fa-map-marker-alt
{
    display: flex;
}
.fa-search
{
    color: white;
    display: flex;
}
.fa-info
{
    font-size: 54px;
    border-radius: 50%;
    border: 10px solid rgb(205, 209, 215);
    padding: 30px;
}
/* fin de formatage des icones */

h2
{
    margin: 20px;
    font-size: 22px;
}

.gris
{
    color: rgb(207, 207, 207);
}
h3
{
    font-size: 16px;
}
a
{
    text-decoration: none;
}
.ensemble-hebergements a 
{
    width: 30%;
    margin: 1%;
    height: 50%;
}
.ensemble-hebergements img
{
    height: 75%;
}
.ensemble-hebergements article
{
    height: 100%;
}
.hebergements p
{
    margin-top: 5%;
}

.info
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ensemble-populaires
{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.ensemble-populaires a
{
    height: 30%;
    margin: 5%;
}
.agrandi
{
    height: 100%;
}
.pomegues, .longchamp
{
    height: 65%;
}
.frioul, .notre-dame
{
    height: 35%;
}
footer p
{
    font-size: 16px;
    font-weight: bolder;
}
.ensemble-activites
{
    height: 100%;
}

/* Sur tous types d'écrans orientés verticalement */
@media all and (max-width: 800px)
{
    .menu
    {
        display: flex;
        justify-content: space-between;
    }
    .haut
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .filtres
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .navigation
    {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    footer
    {
        display: flex;
        flex-direction: column;
    }
    .nav-mobile
    {
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 100%;
    }
    #inscription
    {
        position: absolute;
        top: 25px;
        right: 15px;
    }
    #loupe
    {
        display: block;
        font-size: 16px;
    }
    #rechercher
    {
        display: none;
    }
    .ensemble-hebergements
    {
        display: flex;
        flex-direction: column;
    }
    .ensemble-hebergements a 
    {
        width: 90%;
    }
    .ensemble-activites a
    {
        margin: 10px;
        width:  30%;
    }
    .en-colonne a
    {
        height: 30%;
    }
}
@media all and (min-width: 1024px)
{
    #loupe
    {
        display: none;
    }
    .navigation
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    ul
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        overflow: auto;
        width: 650px;
    }
    .hebergements
    {
        width: 65%;
    }
    .populaires
    {
        width: 30%;
    }
    form i
    {
        width: 30px;
    }
    .filtres
    {
        width: 50%;
    }
    .unFiltre i
    {
        width: 30px;
    }
    .ensemble-activites
    {
        display: flex;
        flex-flow: row nowrap;
    }
    .en-colonne
    {
        flex-direction: column;
    }
    footer
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color:#F2F2F2;
    }
    .equivalent
    {
        width: 25%;
        margin: 20px;
    }
}