@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/* Déclarations de variables */
:root 
{
    --color-bleu: #0065FC;
    --color-bleu-clair: #DEEBFF;
    --color-gris: #F2F2F2;
}
body
{
    font-family : 'Raleway' ;
    margin: 0;
}

/* Header */

header
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
}
/* logo */
.logo
{
    width: 100%;
}
.logo img 
{
    width: auto;
}

/* barre de navigation */
.navigation
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
nav
{
    display: flex;
}
.navbar
{
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    padding: 0;
}
nav li
{
    width: 25%;
    text-align: center;
}
nav ul
{
    justify-content: right;
    color:#0065FC;
    list-style: none;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow: auto;
    width: 650px;
}
nav ul a 
{
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    color: val(--color-gris);
}
#hebergements:hover, #activites:hover
{
    border-top: var(--color-bleu) 2px solid;
    position: relative;
    color : var(--color-bleu);
}
#inscription
{
    color: var(--color-bleu);
    font-weight: bolder;
}
/* titre principal */

h1
{
    font-size: 26px;
    margin-bottom: 0;
}

/* formulaire de recherche */

form
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50px;
}
form i
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    height: 50px;
    width: 30px;
}
input
{
    height: 50px;
    width: 230px;
    border: 2px var(--color-gris) solid;
}
input::placeholder
{
    font-size: 15px;
    font-weight: bolder;
    color: black;
    padding-left: 10px;
}
.fa-map-marker-alt
{
    display: flex;
    width: 50px;
}
/* bouton rechercher */
button
{
    background-color: var(--color-bleu);
    color: var(--color-gris);
    overflow: auto;
    height: 50px;
    border-radius: 0 15px 15px 0;
    border: none;
    width: 130px;
    font-size: 16px;
}
button i
{
    background-color: var(--color-bleu);
    border-radius: 0;
    height: 40px;
}

/* fin du formulaire de recherche */
/* les filtres */
.filtres
{
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    /*width: 50%;*/
    margin: 30px 0px;
}
.filtres h2
{
    font-size: 16px;
}
.filtres h3
{
    display: flex;
    align-items: center;
}
.un-filtre
{
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: 3px var(--color-gris) solid;
    text-align: center;
    height: 50px;
    margin-right: 20px;
    font-weight: bolder;
    padding-right: 15px;
}
.un-filtre p 
{
    margin: 0;
    padding-left: 15px;
}
.un-filtre i
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bleu-clair);
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.un-filtre:hover
{
    background-color: var(--color-bleu);
    color: white;
}
.ensemble-filtres
{
    display: flex;
    flex-direction: row;
}
.description
{
    margin-left: 15px;
}
.info
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#loupe
{        
    display: none;
}
/* fin des filtres */
/* fin du header */
/* haut : regroupant populaires et hebergements */
.haut
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0;
    margin-left: 30px;
}
/* populaires */
.populaires
{
    background-color: var(--color-gris);
    width: 30%;
    margin-right: 30px;
}
.populaires img
{
    width: 40%;
}
.populaires h2 i
{
    float: right;
    margin-right: 10px;
}
.ensemble-populaires
{
    display: flex;
    flex-direction: column;
}
.ensemble-populaires a
{
    height: 150px;
    margin: 25px;
}
.populaires h2
{
    margin-left: 25px;
}
/* légende droite dans populaires car dans cette section la legende est disposé à droite */
.legende-droite
{
    display: flex; 
    flex-direction : row;
    height: 100%; 
}
.description-sans-etoiles
{
    height: 65%;
}
.description 
{
    height: 100%;
}
/* fin du populaires */
/* hebergements */

.hebergements
{
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;
    border-radius: 20px;
    width: 65%;
}
.ensemble-hebergements
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.ensemble-hebergements a 
{
    width: 30%;
    margin: 15px;
}
.ensemble-hebergements img
{
    height: 150px;
}
.hebergements p
{
    margin : 10px 0px;
}
.hebergements .afficher
{
    margin: 25px;
    font-weight: bolder;
}
.hebergements h2
{
    margin-left: 25px;
}

/* fin des hebergements */
/* activites */
.ensemble-activites
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin-bottom: 40px;
}
.ensemble-activites h3
{
    margin-left: 20px;
}
.activites
{
    display: flex;
    flex-flow: column;
    margin: 0px 15px;
}
.activites article
{
    border : 0;
}
.activites img
{
    width: 100%;
}
.equivalent
{
    width: 23%;
}
.en-colonne
{
    flex-direction: column;
}
.agrandi img 
{
    height : 390px;
}
.pomegues, .notre-dame
{
    margin-bottom: 45px;
}
.pomegues img 
{
    height: 185px;
}
.longchamp img
{
    height: 150px;
}
.frioul img
{
    height: 110px;
}
.notre-dame img
{
    height: 140px;
}
/* fin activites */

section
{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

article
{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgb(218, 216, 216);
    overflow: hidden;
    text-align: start;
    border: 4px white solid;
}
article:active
{
    color: green;
}

img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.etoiles
{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 0;
}

/* footer */ 
footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-gris);
    padding: 30px 400px 30px 50px;
}
footer a
{
    text-decoration: none;
    color: black;
}
footer p
{
    font-size: 16px;
    font-weight: bolder;
}
.propos, .hebergements-footer, .assistance
{
    display: flex;
    flex-direction: column;
}
/* fin du footer */
/* formatage des icones */
.fas
{
    color: var(--color-bleu);
}
.fa-map-marker-alt, .fa-chart-line
{
    color: black;
}
.fa-search
{
    color: white;
    display: flex;
}
.fa-info
{
    display: flex;
    font-size: 12px;
    border-radius: 50%;
    border: 2px solid var(--color-bleu-clair);
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    margin: 0px 15px 0px 15px;
    /* padding: 7px 11px 7px 11px; */

}
/* fin de formatage des icones */

h2
{
    margin: 20px;
    font-size: 22px;
}

.gris
{
    color: var(--color-gris);
}
h3
{
    font-size: 16px;
    font-weight: bolder;
}
a
{
    text-decoration: none;
}

/* Pour les mobiles */
@media all and (max-width: 800px)
{
    .menu
    {
        display: flex;
        justify-content: space-between;
    }
    .haut
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 0px;
    }
    .filtres
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .navigation
    {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    footer
    {
        display: flex;
        flex-direction: column;
        padding: 0px 30px;
        margin-top: 50px;
    }
    .nav-mobile
    {
        position: absolute;
        top: 50px;
        justify-content: center;
        align-items: center;
    }
    #inscription
    {
        position: absolute;
        top: 25px;
        right: 15px;
    }
    #loupe
    {
        display: block;
        font-size: 16px;
    }
    #rechercher
    {
        display: none;
    }
    .ensemble-hebergements
    {
        display: flex;
        flex-direction: column;
    }
    .ensemble-hebergements a 
    {
        width: 90%;
    }
    .ensemble-activites a
    {
        margin: 10px;
        width:  100%;
    }
    button
    {
        width: 50px;
    }
    .ensemble-filtres
    {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .populaires
    {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .hebergements
    {
        width: 100%;
        background-color: white;
    }
    .ensemble-activites
    {
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0px 15px;
    }
    .equivalent
    {
        width: 100%;
    }
    .un-filtre
    {
        margin-bottom: 20px;
        margin-right: 5px;
        padding-right: 10px;
    }
    .un-filtre p
    {
        padding-left: 10px;
    }

    form
    {
        width: 90%;
        margin: 0px 15px
    }
    .fa-map-marker-alt
    {
        width: 20%;
    }
    input 
    {
        width: 70%;
        border-right: 0;
    }
    button
    {
        width: 15%;
        border-radius: 10px;
    }
    header
    {
        margin-left: 0px;
    }
    .activites 
    {
        margin: 0;
    }
    .activites img 
    {
        height: 135px;
    }
    .activites a 
    {
        margin: 0;
        margin-bottom: 30px;
    }
    .pomegues, .notre-dame
    {
        margin: 0;
    }
    .frioul, .notre-dame, .pomegues
    {
        margin-bottom: 30px;
    }
    .ensemble-populaires a 
    {
        margin: 10px 20px;
    }
}