*
{
    font-family: 'Raleway';
}
section
{
    display: flex;
    flex-direction: column;
    border-radius: 20px/10px;
}
.titre-recherche
{
    display: flex;
    flex-direction: column;
}
header
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.navigation
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
article
{
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
}
nav
{
    overflow: auto;
    width: 650px;
    justify-content: right;
}
nav ul
{
    color:#0065FC;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin: 0px;
}
nav li
{
    width: 25%;
    text-align: center;
}
nav a 
{
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    color: blue;
}
nav a#hebergements
{
    border-top: blue 2px solid;
}
nav a#activites
{
    color: gray;
}
figure
{
    background-color: white;
    border-radius: 20px/10px;
    box-shadow: 6px 6px 6px grey;
    overflow: auto;
    text-align: start;
    border: 4px white solid;
}
figure:active
{
    color:springgreen;
}
img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo
{
    width: 100%;
}
.logo img 
{
    width: auto;
}
.haut
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.hebergements
{
    display: flex;
    flex-direction: column;
    background-color:#F2F2F2;
    border-radius: 20px/10px;
    width: 65%;

}
.ensembleFigures
{
    display: flex;
    flex-flow: row wrap;
}
.hebergements figure
{
    display: flex;
    flex-flow: column wrap;
    border-radius: 20px/10px;
    width: 200px;
    margin: 20px;
}
.hebergements figcaption
{
    height: 100px;
}
.hebergements h3
{
    margin: 0;
    margin-top: 10px;
}
.hebergements img
{
    width: 200px;
    height: 100px;
}
.populaires
{
    width: 30%;
    background-color:#F2F2F2;
    margin: 5px;
    padding: 10px;
}
.populaires img
{
    width: 100px;
    height: 100px;
}
figure.legende-droite
{
    display: flex; 
    flex-direction : row; 
}
figure figcaption
{
    margin-left: 15px;
}
form
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
form i
{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    height: 30px;
    width: 30px;
}
input
{
    height: 30px;
    border: 2px #F2F2F2 solid;
}
input::placeholder
{
    font-weight: bolder;
    color: black;
}
.rechercher
{
    background-color: #0065FC;
    color: #F2F2F2;
    overflow: auto;
    height: 30px;
    border-radius: 0 30px 30px 0;
    border: none;
}
.etoiles
{
    display: flex;
    flex-direction: row;
    background-color: white;
}
.filtres
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: flex-start;
    width: 50%;
}
.filtres h3
{
    display: flex;
    align-items: center;
}
.unFiltre
{
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: 3px #F2F2F2 solid;
    text-align: center;
}
.unFiltre i
{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #DEEBFF outset;
    background-color: #DEEBFF;
    border-radius: 30px;
    height: 30px;
    width: 30px;
}
.unFiltre:hover
{
    background-color: blue;
    color: white;
}
footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#F2F2F2;
}
footer a
{
    text-decoration: none;
    color: black;
}
.propos, .hebergements-footer, .assistance
{
    display: flex;
    flex-direction: column;
}
.activites
{
    display: flex;
    flex-flow: row wrap;
}
.fas
{
    color: blue;
}
.fa-map-marker-alt, .fa-chart-line
{
    color: black;
}
h2
{
    margin: 20px;
}
.populaires h2 i
{
    float: right;
    margin-right: 40px;
}
.gris
{
    color: rgb(207, 207, 207);
}
h3
{
    font-size: 16px;
}
h2
{
    font-size: 22px;
}
h1
{
    font-size: 26px;
}